@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
    box-sizing: border-box;
}

img {
    width: 100%;
}

body {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

section {
    padding: 4em 2em;
    width: 80%;
    margin: 0 auto;

}

#root {
    background: #333;
    overflow: hidden;

}

main {
    background: #fff;
}

nav {
    z-index: 5;
    height: 200px;
    width: 200px;
    background: #FF7979;
    color:white;
    border-radius: 50%;
    position: fixed;
    inset:0;
    translate: -50% -50%;
    transition: 500ms;
}

button {
    position: absolute;
    right: 45px;
    bottom: 30px;
    border: none;
    background: none;
    color: white;
    cursor: pointer;
}

.toggledBtn {
    transform: rotate(-90deg);
    transition: transform 500ms;
}


.untoggledBtn {
    transform: rotate(0deg);
    transition: transform 500ms;
}

.close {
    left: 25px;
    bottom: 40px;
}

.toggled {
   transform: rotate(-20deg);
    transform-origin: top left;
    transition: transform 500ms;
}

.untoggled {
    transform: rotate(0deg);
    transform-origin: top left;
    transition: transform 500ms;
}

.nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
    position: fixed;
    top: 500px;
    left: 20px;
    z-index: 100;
    a {
        text-decoration: none;
        color: black;
        font-size: 1.15rem;
    }

    :nth-child(2) {
        animation: move 100ms 300ms ease-in forwards;
    }

    :nth-child(3) {
        animation: move2 100ms 300ms ease-in forwards;
    }
}



@keyframes move {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(20px);
    }

}

@keyframes move2 {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(40px);
    }

}